<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link
        rel="stylesheet"
        th:href="@{css/style.css}"
        type="text/css">
  <title>Money Exchange Service</title>
</head>
<body>

<div class="NavBar">
    <p class="NavBar_Text">$ Money Exchange Service $</p>
    <hr style="color: green; width: 80%; height: 4px;">
</div>


<div style="text-align: center">
    <p style="color: #009879; font-size: 25px"> All Currencies </p>
</div>
<table class="styled-table" >
    <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Sign</th>
    </tr>
    </thead>

    <tbody>
      <tr th:each="curr: ${currencies}">
        <td th:text="${curr.code}"/>
        <td th:text="${curr.name}" />
        <td th:text="${curr.sign}" />
      </tr>
    </tbody>
  </table>
</body>
</html>